[submodule "Ion/ThirdParty/SpdLog"]
	path = IonCore/ThirdParty/SpdLog/SpdLog
	url = https://github.com/gabime/spdlog
[submodule "Ion/ThirdParty/glm"]
	path = IonCore/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Ion/ThirdParty/ImGui/imgui"]
	path = Ion/ThirdParty/ImGui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Ion/ThirdParty/FreeType/freetype"]
	path = Ion/ThirdParty/FreeType/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype/
